@import "../../../zr.variables.less";

.zr-list-view.zr-list-view-default{
    width: auto !important;
    padding: 3px 0px;
    .zr-item {
        text-align: left;
        .fa{
            margin: 3px;
        }
        &[data-checked="true"]{
            background: @zr-color-primary;
            color: #FFF;
            opacity: 0.8;
        }
        &:hover{
            background: @zr-color-primary;
            color: #FFF;
        }
    }
}
