@import "../../less/rt.variables.less";

.rt-page {
    background-color: #f9f9f9;
    .page-header{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0px 6px;
        border-bottom: 1px solid #eee;
        background-color: rgba(230, 230, 230, 0.5);
        color: #8e8e8e;
        font-weight: bold;
        .back{
            font-size: 18px;
            margin-right: 4px;
            cursor: pointer;
            padding: 8px;
            &:hover{
                color: @rt-color-primary;
            }
        }
        .title {
            flex: 1;
        }
    }


    .page-body {

    }
    .page-footer {
        height: 100%;
        border-top: 1px solid #eee;
    }
}
