.zr-group{
    position: relative;
    margin-top: 15px;
    margin-bottom: 5px;
    border: 1px solid #a0a2a8;
    border-radius: 3px;
    &[data-active="false"]{
        &>.g-inner-content{
            display: none;
        }
        .title{
            background-color: #efeaea !important;
            &::after{
                content: '...';
            }
        }
    }
    &>.g-header{
        position: absolute;
        top: -14px;
        width: 100%;
        text-align: center;
        &>.title{
            border: 1px solid #a0a2a8;
            background-color: #FFF;
            border-radius: 3px;
            padding: 2px 6px;
            font-size: 10px;
            line-height: 16px;
            cursor: pointer;
        }
    }

    &>.g-inner-content{
        padding: 5px;
    }
}
