.zr-icons{
    display: flex;
    align-items: center;
    justify-content: center;
    .zr-icon{
        min-width: 16px !important;
        cursor: pointer;
        &:hover{
            opacity: 0.6;
        }
    }
    &.ios{
        font-size: 14px;
        .zr-icon{
            border: 1px solid #f1f1f1;
            color: #f1f1f1;
            margin: 2px;
            padding: 2px 4px;
            border-radius: 2px;
            &:hover{

            }
        }
    }
}
